.home {
    text-align: center;
    margin-right: 100px;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  
  .court-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .court-table th,
  .court-table td {
    padding: 10px;
  }
  
  .court-table th {
    font-size: 18px;
    background-color: #f2f2f2;
  }
  
  .court-table td {
    font-size: 16px;
  }

  .find-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .find-more h3 {
    margin-right: 10px;
    margin-left: 50px
  }
  
  
  