
.reservations-container {
  margin-top: 20px;
  margin-left: 200px;
  flex-direction: column;
  text-align: center;
}

.reservations-container h1 {
  margin-bottom: 50px;
}


.reservations-container h2 {
  text-align: center;
  flex-direction: column;
}

.reservations-container table {
  margin: 0 auto;
}

.courts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.courts-container h2 {
  text-align: center;
}

.courts-container > div {
  margin-top: 20px;
}

.courts-container table {
  margin: 0 auto;
}

.create-reservation-button {
  margin-bottom: 20px;
  text-align: center;
}
